/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Nunito:300');


/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  max-width: 1600px;
  margin: auto;
}

section {
  width: 100%;
  min-height: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* General SVG styles */
svg {
  transition: transform .5s;
}

text {
  font-family: 'Nunito', sans-serif;
  font-size: .8rem;
}

svg:hover {
  transform: scale(1.1);
}

/* TOP ROW STYLING  */

.top {
  background-image: url('../images/segment_top.png');
}

.top svg:nth-child(even) {
    transform: rotate(-20deg) scale(.8) translate(-5%);
}

.top svg:nth-child(1) {
    transform: translate(40%,15%);
}

.top svg:last-child {
    transform: translate(-10%,25%);
}

/* MID ODD ROW STYLING  */

.middle-odd {
  background-image: url('../images/segment_mid-bottom.png');
}

.middle-odd svg:nth-child(odd) {
    transform: rotate(-20deg) scale(.8) translate(-5%);
}

.middle-odd svg:first-child {
    transform: translate(10%,20%) scale(.8);
}

.middle-odd svg:nth-child(3) {
    transform: scale(1.2) translate(10%,15%);
}

.middle-odd svg:last-child {
    transform: scale(.9) rotate(20deg) translate(0, 25%);
}


/* MID EVEN ROW STYLING  */


.middle-even {
  background-image: url('../images/segment_mid-top.png');
}

.middle-even svg:nth-child(odd) {
    transform: rotate(-20deg) scale(.8) translate(-5%);
}

.middle-even svg:nth-child(2) {
    transform: rotate(-30deg);
}

.middle-even svg:nth-child(3) {
    transform: translate(40%,25%);
}

.middle-even svg:first-child {
    transform: translate(5%, 10%);
}


.bottom {
  background-image: url('../images/segment_bottom.png');
}




/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}
